body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header{
    background-color: darkcyan;
    padding: 10px;
    color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex: 1;
}

.header h1{
    padding-left: 10px;
    padding-bottom: 20px;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    text-decoration: none;
    color: #FFF;
    padding: 10px;
}

.navigation ul li:hover{
    background-color: darkcyan;
}

/* Glavni kontent */

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 80% !important;
    align-self: center;
}

.mainContent{
    width: auto;
}

.mainContent article{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

.mainContent article img{
    max-width: 100%;
    max-height: 100%;
}

.mainContent article p{
    margin-top: 10px;
    padding:10px;
}

.center{
    align-self: center;
}
/*
.aside{
    width: 20% !important;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.aside article{

}

.aside img{
    width: 256px;
    height: 144px;
}
*/

.footer footer{
    padding: 10px;
    background-color: darkcyan;
    text-align: center;
    color: #FFF;
}

.active_link{
    background-color: #FFF;
    color: #000 !important;
}

@media only screen and (min-width: 150px) and (max-width: 600px) {
    main{
        width: 98% !important;
    }
}